Package: com.evaneliasyoung.assh
Filename: deb/com.evaneliasyoung.assh_0.2.1_iphoneos-arm.deb
Name: Assh
Version: 0.2.1
Architecture: iphoneos-arm
Description: An easier way to ssh into things, instead of having to retype the info this will do it for you.
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/depic.html?repo=com.evaneliasyoung.assh
SileoDepiction: https://repo.evaneliasyoung.com/sileo.php?repo=com.evaneliasyoung.assh
Section: Development
