Package: com.evaneliasyoung.checkra1nbootlogo
Name: checkra1n Bootlogo
Version: 1.0.0
Architecture: iphoneos-arm
Depends: com.wizages.bae
Description: checkra1n Bootlogo
Author: Evan Elias Young <evanyoung762@gmail.com>
Maintainer: Evan Elias Young <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/cydia/com.evaneliasyoung.checkra1nbootlogo/
SileoDepiction: https://repo.evaneliasyoung.com/sileo/com.evaneliasyoung.checkra1nbootlogo/
Section: Addons (BootLogo)
