Package: com.evaneliasyoung.interrobangbootlogo
Name: Interrobang Bootlogo
Version: 1.0.0
Architecture: iphoneos-arm
Description: Interrobang Bootlogo
Author: Evan Elias Young <evanyoung762@gmail.com>
Maintainer: Evan Elias Young <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/cydia/com.evaneliasyoung.interrobangbootlogo
SileoDepiction: https://repo.evaneliasyoung.com/sileo/com.evaneliasyoung.interrobangbootlogo
Section: Bootlogos
