Package: com.evaneliasyoung.wurtsperre
Filename: deb/com.evaneliasyoung.wurtsperre_1.2.6_iphoneos-arm
Name: Wurtsperre
Version: 1.2.6
Architecture: iphoneos-arm
Depends: com.bushe.lockhtml4
Description: Word style clock for LockHTML
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/depic.html?repo=com.evaneliasyoung.wurtsperre
SileoDepiction: https://repo.evaneliasyoung.com/sileo.php?repo=com.evaneliasyoung.wurtsperre
Section: Widgets
