# Auto detect text files and perform LF normalization
* text eol=lf

# Binaries
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
*.aiff binary
*.mp3 binary
*.ogg binary
*.m4a binary
*.mp4 binary
*.mov binary
*.ttf binary
*.otf binary
*.woff binary
*.deb binary