Package: com.evaneliasyoung.flachsperre
Name: Flachsperre
Version: 1.0.5
Architecture: iphoneos-arm
Depends: com.bushe.lockhtml4
Description: Flat design for LockHTML
Author: Evan Elias Young <evanyoung762@gmail.com>
Maintainer: Evan Elias Young <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/cydia/com.evaneliasyoung.flachsperre/
SileoDepiction: https://repo.evaneliasyoung.com/sileo/com.evaneliasyoung.flachsperre/
Section: Widgets
