Package: com.evaneliasyoung.redrop
Name: ReDrop
Version: 0.1.5
Architecture: iphoneos-arm
Description: An easier way to restart dropbear
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://evaneliasyoung.github.io/depic/com.evaneliasyoung.redrop/
Section: Development
