Package: com.evaneliasyoung.wurtsperre
Name: Wurtsperre
Version: 1.2.4
Architecture: iphoneos-arm
Depends: com.bushe.lockhtml4
Description: Word style clock for LockHTML
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/?repo=com.evaneliasyoung.wurtsperre
Section: Widgets
