Package: com.evaneliasyoung.dassperre
Name: Daßperre
Version: 1.0.4
Architecture: iphoneos-arm
Depends: com.bushe.lockhtml4
Description: A remake of my favorite GroovyLock theme.
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/depic.html?repo=com.evaneliasyoung.dassperre
SileoDepiction: https://repo.evaneliasyoung.com/sileo.php?repo=com.evaneliasyoung.dassperre
Section: Widgets
