Package: com.evaneliasyoung.wemo
Filename: deb/com.evaneliasyoung.wemo_0.2_iphoneos-arm
Name: Wemo
Version: 0.2
Architecture: iphoneos-arm
Description: I hate the wemo app, so I made a command line tool for it.
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://r0epo.evaneliasyoung.com/depic.html?repo=com.evaneliasyoung.wemo
SileoDepiction: https://repo.evaneliasyoung.com/sileo.php?repo=com.evaneliasyoung.wemo
Section: Development
