Package: com.evaneliasyoung.zeppelinguitars
Filename: com.evaneliasyoung.zeppelinguitars_1.1.1_iphoneos-arm
Name: Zeppelin - Guitar Brands
Version: 1.1.1
Architecture: iphoneos-arm
Depends: com.alexzielenski.zeppelin
Description: Popular guitar brands for Zeppelin
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/depic.html?repo=com.evaneliasyoung.zeppelinguitars
SileoDepiction: https://repo.evaneliasyoung.com/sileo.php?repo=com.evaneliasyoung.zeppelinguitars
Section: Addons (Zeppelin)
