Package: com.evaneliasyoung.zeppelinguitars
Name: Zeppelin - Guitar Brands
Version: 1.1.1
Architecture: iphoneos-arm
Depends: com.alexzielenski.zeppelin
Description: Popular guitar brands for Zeppelin
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/?repo=com.evaneliasyoung.zeppelinguitars
Section: Addons (Zeppelin)
