@font-face {
  font-family: SanFrancisco;
  src: url(sanfran.ttf);
  font-weight: normal;
}

@font-face {
  font-family: SanFrancisco;
  src: url(sanfranb.ttf);
  font-weight: bold;
}

* {
  font-family: SanFrancisco, sans-serif;
  margin: 0;
  padding: 0;
}

#precache {
  opacity: 0;
}


#clock {
  float: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
