@font-face {
  font-family: SanFrancisco;
  font-weight: normal;

  src: url(sanfran.ttf);
}

@font-face {
  font-family: SanFrancisco;
  font-weight: bold;

  src: url(sanfranb.ttf);
}

* {
  font-family: SanFrancisco, sans-serif;

  margin: 0;
  padding: 0;
}

#precache {
  opacity: 0;
}


#clock {
  position: absolute;
  top: 50%;
  left: 50%;

  float: right;

  transform: translate(-50%, -50%);
}
