Package: com.evaneliasyoung.redrop
Filename: deb/com.evaneliasyoung.redrop_0.1.15_iphoneos-arm
Name: ReDrop
Version: 0.1.5
Architecture: iphoneos-arm
Description: An easier way to restart dropbear
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/depic.html?repo=com.evaneliasyoung.redrop
SileoDepiction: https://repo.evaneliasyoung.com/sileo.php?repo=com.evaneliasyoung.redrop
Section: Development
