Package: com.evaneliasyoung.farbesperre
Name: Farbesperre
Version: 1.0.3
Architecture: iphoneos-arm
Depends: com.bushe.lockhtml4
Description: Color Apple Watch style clock for LockHTML
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/cydia/com.evaneliasyoung.farbesperre
SileoDepiction: https://repo.evaneliasyoung.com/sileo/com.evaneliasyoung.farbesperre
Section: Widgets
