Package: com.evaneliasyoung.radar
Filename: com.evaneliasyoung.radar_0.1.1_iphoneos-arm
Name: radar
Version: 0.1.1
Architecture: iphoneos-arm
Depends: libactivator
Description: Control your iOS device over ssh.
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/depic.html?repo=com.evaneliasyoung.radar
SileoDepiction: https://repo.evaneliasyoung.com/sileo.php?repo=com.evaneliasyoung.radar
Section: Development
