Package: com.evaneliasyoung.machspring
Filename: deb/com.evaneliasyoung.machspring_0.1.3_iphoneos-arm
Name: MachSpring
Version: 0.1.3
Architecture: iphoneos-arm
Description: An alternative way to respring with mach_portal
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/depic.html?repo=com.evaneliasyoung.machspring
SileoDepiction: https://repo.evaneliasyoung.com/sileo.php?repo=com.evaneliasyoung.machspring
Section: Development
