Package: com.evaneliasyoung.gravy
Name: Gravy
Version: 1.14
Architecture: iphoneos-arm
Depends: com.anemonetheming.anemone
Description: More icons for ArkLotif's Biscuit
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/cydia/com.evaneliasyoung.gravy
SileoDepiction: https://repo.evaneliasyoung.com/sileo/com.evaneliasyoung.gravy
Section: Themes
