Package: com.evaneliasyoung.gravy
Filename: deb/com.evaneliasyoung.gravy_1.10.1_iphoneos-arm
Name: Gravy
Version: 1.10.1
Architecture: iphoneos-arm
Depends: com.anemonetheming.anemone
Description: More icons for ArkLotif's Biscuit
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/depic.html?repo=com.evaneliasyoung.gravy
SileoDepiction: https://repo.evaneliasyoung.com/sileo.php?repo=com.evaneliasyoung.gravy
Section: Themes
