@font-face {
  font-family: Nougat;

  src: url(nougat.ttf);
}

* {
  font-family: Nougat, sans-serif;

  margin: 0;
  padding: 0;
}

#precache {
  opacity: 0;
}

#clock {
  font-size: 112px;
  font-weight: 100;
  line-height: 100px;

  z-index: 50;

  margin-top: 50px;

  text-align: center;

  color: #FFFFFF;
}

#date-master {
  font-size: 16px;
  font-weight: bold;
  line-height: 65px;
}

#day, #date {
  font-family: Arial;
}
