Package: com.evaneliasyoung.bley
Name: Bley
Version: 1.0a
Architecture: iphoneos-arm
Depends: com.anemonetheming.anemone
Description: Blue-Grey theme for anemone
Author: Evan <evanyoung762@gmail.com>
Maintainer: Evan <evanyoung762@gmail.com>
Depiction: https://repo.evaneliasyoung.com/cydia/com.evaneliasyoung.bley
SileoDepiction: https://repo.evaneliasyoung.com/sileo/com.evaneliasyoung.bley
Section: Themes
