@font-face {
  font-family: Nougat;
  src: url(nougat.ttf);
}

* {
  font-family: Nougat, sans-serif;
  margin: 0;
  padding: 0;
}

#precache {
  opacity: 0;
}

#clock {
  z-index: 50;
  text-align: center;
  margin-top: 50px;
  font-size: 112px;
  font-weight: 100;
  line-height: 100px;
  color: #FFFFFF;
}

#date-master {
  font-size: 16px;
  line-height: 65px;
  font-weight: bold;
}

#day, #date {
  font-family: Arial;
}
